.App-header {
  background-color: #00B8D5;
  display: flex;
  justify-content: center;
  color: white;
}
.usersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}